body {
font-family: "Lucida Console", "Courier New", monospace;
background-color: white;
color: black;
}

header {
background-color: #cc0099;
padding: 30px;
text-align: center;
font-size: 35px;
color: white;
border-style: solid;
border-width: 5px;
border-color: #cc0099;
border-radius: 8px;
}

nav {
float: left;
width: 30%;
background: white;
padding: 20px;
border-style: solid;
border-width: 5px;
border-color: black;
border-radius: 8px;
}

nav ul {
list-style-type: none;
padding: 0;
}

article {
float: right;
padding: 20px;
width: 60%;
background-color: white;
border-style: solid;
border-width: 5px;
border-color: black;
border-radius: 8px;
}

section::after {
content: "";
display: table;
clear: both;
}

footer {
background-color: #cc0099;
padding: 10px;
text-align: center;
color: white;
border-style: solid;
border-width: 5px;
border-color: #cc0099;
border-radius: 8px;
}

@media (max-width: 600px) {
nav, article {
  width: 100%;
  height: auto;
}
}
